@model HarryMidterm.Entities.Addloanrecord

@{
    ViewData["Title"] = "LoanReportsDetails";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmp/D1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
    integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="topMostLayer">

   <center> 
    <div class="font">
     <p>  <b>
        Cebu Roosevelt Memorial Colleges <br>
        San Vicente St., Bogo City, Cebu
        </b>
        </p> 
    </div>
    </center>


    <div class="colorMe">
        <center>
            <h6>EMPC: Employee Multi-purpose Management System</h6>
        </center>
        <hr />
        
        <dl class="row">
            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.LastName)</dd>

            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.FirstName)</dd>

            <dt class="col-sm-3">Payment Start Date</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.PaymentStartDate)</dd>
            
            <dt class="col-sm-3">Principal Amount</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.PrincipalAmount)</dd>

            <dt class="col-sm-3">Annual Interest Rate</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.AnnualInterestRate)</dd>

            <dt class="col-sm-3">Loan Term in Months</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.LoanTermMonths)</dd>

            <dt class="col-sm-3">Loan Term in Days</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.LoanTermDays)</dd>

            <dt class="col-sm-3">Payment</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.PaymentMonthsDays)</dd>

            <dt class="col-sm-3">Total Interest</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.TotalInterest)</dd>

            <dt class="col-sm-3">Total Amount</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.TotalAmount)</dd>

        </dl>
    </div>

<button onclick="openPrintWindow()" title="Print" class="btn btn-success print" ><i class="fa-solid fa-print" style="color: #1d4533;"></i> </button>

    <a asp-action="LoanRecords" asp-route-id="@Model.AddloanrecordId" class="btn btn-outline-warning backMove" title="Back"><i
            class="fa-solid fa-backward" style="color: #4ac4b6;"></i> Back</a>

</div>
</div>


<style>
    .font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;  
    }
    .print{
        position: absolute;
        top: 10px;
        left: 1350px;
    }
    .topMostLayer {
        padding-top: 50px;
    }

    .editMove {
        position: absolute;
        top: 10px;
        left: 230px;
    }

    .backMove {
        position: absolute;
        top: 10px;
        left: 1400px;
    }

    body {
   background-color: #4aac5f;
    }

    @*.colorMe{color:white;font-family:times'TimesNewRoman',Times,serif;font-size:20px;}*@.colorMe {
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin: 20px;
    }

    h2 {
        color: #333;
    }

    hr {
        border: 1px solid #ccc;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e5e5e5;
    }

    dl.row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    dt,
    dd {
        flex-basis: 48%;
        padding: 10px;
    @*margin-bottom:10px;*@background-color: #f9f9f9;

    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }
</style>


<div class="receipt">
 
    @* <div class="button-container">
        <button onclick="openPrintWindow()">Print Receipt</button>
        <button onclick="generatePDF()">Download PDF</button>
    </div> *@
</div>

<script>
    function openPrintWindow() {
        // Open a new window for printing
        @* window.open('', '_blank'); *@
        window.print();
    }

    function generatePDF() {
        // You can use a library like jsPDF to generate a PDF
        // For simplicity, let's just alert that PDF generation is not implemented in this example
        alert('PDF generation functionality not implemented in this example');
    }
</script>