@model HarryMidterm.Entities.Schedule



<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
    integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- SweetAlert library -->
<link rel="stylesheet" href="path/to/sweetalert.css">
<script src="path/to/sweetalert.min.js"></script>
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fontSize text-center">
                     <b>Welcome Borrower!</b>
               </div>
            </div>
        </div>
  </div>  

    


<div class="topMostLayer">

    <div class="colorMe">
        <center>
            <h2>Borrower Balance</h2>
        </center>
        <hr />
        <dl class="row">

            <dt class="col-sm-3">Borrower ID</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.AddloanrecordId)</dd>

            <dt class="col-sm-3">Date</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Date)</dd>

            <dt class="col-sm-3">Payment</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Payment)</dd>

            <dt class="col-sm-3">Total Amount</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.TotalAmount)</dd>

            <dt class="col-sm-3">Balance</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Balance)</dd>


        </dl>
    </div>
</div>

    <div>
       <center> <h1> Put Table Container Here and Display user Transaction  <h1></center>
    </div>


<style>
    .fName{
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: white;
        top: 50px;
    }
    .acountBalance{
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: white;
          top: 50px;
    }
    .pAmount{
         font-size: 30px;
        font-family: Arial, sans-serif;
        color: white;
          top: 50px;
    }
    .bPaid{
    font-size: 30px;
        font-family: Arial, sans-serif;
        color: white;
          top: 50px;
    }
    .lDate{
         font-size: 30px;
        font-family: Arial, sans-serif;
        color: white;
          top: 50px;
    }
     #loanForm {
        position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                max-width: 600px;
                left: -100px;
                /* Adjust the maximum width as needed */
                margin: 0 auto;
            }

            #loanForm label {
                position: relative;
                display: block;
                left: -250px;
                margin-bottom: 5px;
            }

            #loanForm input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
            }

            #loanForm button {
                grid-column: span 2;
                /* Make the button span across both columns */
            }
</style>



        <button class="btn btn-details buttonLogout" onclick="clickMe()" title="Logout"> <i
        class="fa-solid fa-right-from-bracket" style="color: #616875;"></i> </button>



<script>
    // get the logged status
    sessionStorage.setItem("Borrower",true)
    function clickMe(){
        sessionStorage.setItem("Logged",false)
        sessionStorage.setItem("Borrower",false)
        location.href='/LoginPage/Signin'

    }

    if (sessionStorage.getItem("Logged") === "false" || sessionStorage.getItem("Logged") == undefined || sessionStorage.getItem("Logged") == null  || sessionStorage.getItem("Borrower") == "false" || sessionStorage.getItem("Borrower") == undefined || sessionStorage.getItem("Borrower") == null) {
        location.href = '/LoginPage/SignIn'

    }

</script>

@* <script>
function logout() {
swal({
title: "Are you sure?",
text: "You will be logged out!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willLogout) => {
if (willLogout) {
// Redirect to the logout page or perform logout actions
location.href = '/LoginPage/Signin';
} else {
// User clicked the "Cancel" button in the SweetAlert
swal("Logout canceled!", {
icon: "info",
});
}
});
}
</script> *@


<style>
    body {
        background-color: #4aac5f;
    }

    .buttonLogout {
        position: absolute;
        font-size: 60px;
        right: 115px;
        top: 440px;
    }

    .fontSize {

        margin-top: 20px;
        font-size: 30px;
        border-radius: 8px;
        background-color: #307d41;
        color: white;
    }
</style>
